{% extends "layout.html" %}

{% block content %}
<div class="car-detail">
    <img src="{{ url_for('static', filename='images/' + car.image) }}" alt="Car Image">
    <div class="details">
        <h2>{{ car.brand }} {{ car.model }}</h2>
        <p><strong>Mileage:</strong> {{ car.mileage }}</p>
        <p><strong>Year:</strong> {{ car.year }}</p>
        <p><strong>Fuel:</strong> {{ car.fuel }}</p>
        <p><strong>Condition:</strong> {{ car.condition }}</p>
        <p><strong>Price:</strong> ${{ "%.2f"|format(car.price) }}</p>
        <a href="{{ url_for('add_to_cart', car_id=car.id) }}" class="custom-btn">Add to Cart</a>
    </div>
</div>

{% if session.get('user_id') %}
    <form action="{{ url_for('bookmark', car_id=car.id) }}" method="post">
        <button type="submit" class="custom-btn">
            {% if car in session.get('bookmarked_ids', []) %}
                ❤️ Bookmarked
            {% else %}
                🤍 Bookmark
            {% endif %}
        </button>
    </form>
{% else %}
    <div class="login-bookmark-container">
        <a href="{{ url_for('login') }}" class="custom-btn">Login to Bookmark</a>
    </div>
{% endif %}

{% endblock %}
